.flex {
  display: flex;
  align-items: center;
}

/*span weather element conditions for uv index*/
.severe {
  padding: 3px;
  background-color: red;
  color: var(--primary);
}

.moderate {
  padding: 3px;
  background-color: orange;
  color: var(--primary);
}

.favorable {
  padding: 3px;
  background-color: green;
  color: var(--primary);
}
